@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import './base.css';


body.blog-page {
  background: var(--color-background);
}

.blog {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3rem 2rem;
  font-weight: normal;
}

.blog a,
.blog .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  .blog a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
